.question .radio-options {
  display: flex;
  flex-direction: row;
}

.question .radio-options label {
  margin-right: 20px;
}

.questionnaire-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.questionnaire-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.question {
  margin-bottom: 20px;
}

.radio-options label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-options input[type="radio"] {
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.questionnaire-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.questionnaire-header {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.question {
  margin-bottom: 30px;
}

.radio-options label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-options input[type="radio"] {
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-image: linear-gradient(to bottom, #4caf50, #45a049);
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-image: linear-gradient(to bottom, #45a049, #4caf50);
}

textarea {
  width: 300px;
  height: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.error-message {
  color: red;
  display: flex;
  align-items: center;
}

.error-icon {
  font-size: 20px;
  margin-right: 5px;
}

.question-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.question-text {
  font-weight: bold;
}

img.image-logo {
  display: none;
}

/* Mobile styles using media queries */
@media (max-width: 768px) {

  img.image-logo {
    display: block;
    padding-left: 4rem;
  }

  .question .radio-options {
    display: flex;
    flex-direction: column;
  }

  .questionnaire-container {
    padding: 10px;
    /* Reduce padding for smaller screens */
  }

  .questionnaire-header {
    font-size: 24px;
    /* Decrease font size for smaller screens */
    margin-bottom: 15px;
  }

  .question {
    margin-bottom: 20px;
  }

  .radio-options label {
    margin-bottom: 5px;
    /* Reduce margin for smaller screens */
  }

  .radio-options input[type="radio"] {
    margin-right: 5px;
    /* Reduce margin for smaller screens */
  }

  input[type="text"],
  textarea {
    width: 80%;
    padding: 10px;
    /* Adjust padding for smaller screens */
  }

  button[type="submit"] {
    padding: 10px 20px;
    /* Adjust padding for smaller screens */
  }

  textarea {
    width: 80%;
    height: 100px;
    /* Reduce textarea height for smaller screens */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
}
