<div class="questionnaire-container">
  <img class="image-logo" src="../../assets/img/images.jpg">
  <h2 class="questionnaire-header">Chaos Theory and Applications Questionnaire</h2>
  <p>This anonymous questionnaire is intended to be taken by the students who completed the Chaos Theory and
    Applications module
    of the University of American Samoa.
    Please submit this questionnaire by December 31st 2023.</p>
  <form (ngSubmit)="submitForm()" #questionnaireForm="ngForm">
    <ng-container *ngFor="let question of questions; let i = index">
      <div class="question">
        <label class="question-text">{{ question.text }}</label>
        <div *ngIf="question.type === 'radio'" class="radio-options">
          <label *ngFor="let option of question.options; let j = index">
            <input type="radio" name="question{{ i }}" [value]="j" [(ngModel)]="questionnaireResponses[i]"
              required={{question.required}} />
            {{ option }}
          </label>
        </div>
        <div *ngIf="question.type === 'textarea'" class="textarea-options">
          <textarea name="question{{ i }}" [(ngModel)]="questionnaireResponses[i]"
            required={{question.required}}></textarea>
        </div>
        <div *ngIf="submitted && questionnaireForm.controls['question'+i].hasError('required')" class="error-message">
          <span class="error-icon">!</span> This field is required.
        </div>
      </div>
      <hr class="question-separator" *ngIf="i !== questions.length - 1" />
    </ng-container>
    <button type="submit">Submit</button>
    <p *ngIf="completed">Thank you for submitting!</p>
  </form>
</div>